<!-- frontshop/templates/frontshop/home.html -->

{% extends 'frontshop/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

<!-- Section: Intro Banner -->
{% block banner %}
<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/banner-01.jpeg' %}" class="img-fluid rounded">
        </div>
    </div>
</section>
{% endblock %}
<!-- End Section: Intro Banner -->

<!-- Section: Promotion-->
{% block content %}
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'product_list' %}" class="btn btn-outline-primary float-right">See all</a>
            <h2 class="section-title">Promotion</h2>
        </header>
        <div class="row">
            {% for product in products %}
                {% if product.promotion_type %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="{% url 'product_detail' product.id %}" class="img-wrap">
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
                        </a>
                        <figcaption class="info-wrap">
                            <a href="{% url 'product_detail' product.id %}" class="title"><strong>{{ product.name }}</strong></a>
                            <div class="price mt-1">€{{ product.price }} per unit</div>
                            <div class="availability mt-1">
                                {% if product.promotion_type == "P_O_Week" %}
                                    <span class="badge badge-info">Product of the Week</span>
                                {% elif product.promotion_type == "Christmas" %}
                                    <span class="badge badge-success">Christmas Special</span>
                                {% elif product.promotion_type == "Holiday" %}
                                    <span class="badge badge-warning">Holiday Special</span>
                                {% endif %}
                            </div>
                            <div class="description mt-1">{{ product.description }}</div>
                        </figcaption>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Section: Promotion-->

<!-- Section: Recommendations -->
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Recommendations</h2>
        </header>
        <div class="row">
            {% for product in recommended_products %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{% url 'product_detail' product.product.id %}" class="img-wrap">
                        <img src="{{ product.product.image }}" alt="{{ product.product.name }}" class="img-fluid">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'product_detail' product.product.id %}" class="title"><strong>{{ product.product.name }}</strong></a>
                        <div class="price mt-1">€{{ product.product.price }} per unit</div>
                        <div class="availability mt-1">
                            <span class="badge badge-danger">Recommended</span>
                        </div>
                        <div class="description mt-1">
                            {{ product.product.description }}<br>
                            <strong>Popularity:</strong> {{ product.product.popularity }}
                        </div>
                    </figcaption>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Section: Recommendations -->
{% endblock %}