<!-- frontshop/templates/frontshop/login.html -->

{% extends 'frontshop/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
<style>
    .login-container {
        margin-left: 200px; /* Move content 200 pixels to the right */
    }
    body {
        background-color: #FFA500; /* Orange color */
    }
</style>
{% endblock %}